@import "tailwindcss";

:root {
  --orange: #fe5f24;
  --dark-grey: #373737;
  --light-grey: #d9d9d9;
  --black: #000000;
  --white: #ffffff;
}

@theme inline {
  --color-brand-orange: var(--orange);
  --color-brand-dark: var(--dark-grey);
  --color-brand-light: var(--light-grey);
  --color-brand-black: var(--black);
  --color-brand-white: var(--white);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--orange);
  color: var(--white);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}
